<div>
    <h3>Forgot password</h3>
    <span>test@test.com</span>
    <form asp-antiforgery="true" method="POST" asp-action="ForgotPassword" asp-controller="Account">
        <div>
            <label for="Email">Email</label>
            <input type="Text" id="Email" name="Email" placeholder="Email adress"/>
        </div>
        <input type="submit" value="Reset password"/>
    </form>
</div>