@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <p>Click <a href="@ViewBag.Link">her</a> to reset the password</p>
</div>