@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <p>Reset success. Go to <a asp-action="Login" asp-controller="Account">login</a>.</p>
</div>
